<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/3edf6a96-09ce-4162-9819-c416d3317ba9/resourceGroups/app-configuration-demo-rg/providers/Microsoft.Web/sites/app-configuration-demo-app</ResourceId>
    <ResourceGroup>app-configuration-demo-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://app-configuration-demo-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>547ce87d-6cee-4ed0-9bad-413ebf4ae3dc</ProjectGuid>
    <PublishUrl>https://app-configuration-demo-app.scm.azurewebsites.net/</PublishUrl>
    <UserName>$app-configuration-demo-app</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>